name: "Deploy Twilio Flex Plugin"

on:
  workflow_call:
    inputs:
      PLUGIN_DIRECTORY:
        type: string
        required: true
        description: The path to the Flex Plugin base directory (where package.json is located)
      BUILD_WORKFLOW_NAME:
        type: string
        required: true
        description: The name of the workflow that built the artifact.
      TWILIO_ACCOUNT_SID:
        type: string
        required: true
        description: The Twilio Account SID
      TWILIO_API_KEY:
        type: string
        required: true
        description: The SID of a Twilio API Key
      SELECT_VERSION:
        type: string
        required: false
        description: (Optional) Select a specific artifact version to deploy
      ALLOW_VERSION_OVERWRITE:
        type: boolean
        required: false
        description: (Optional) Set this flag as 'true' to overwrite the deployed bundle if it already exists
    secrets:
      TWILIO_API_SECRET:
        required: true
        description: The secret value of TWILIO_API_KEY
    outputs:
      PLUGIN_NAME:
        description: The name of the deployed plugin
        value: ${{ jobs.deploy_flex_plugin.outputs.PLUGIN_NAME }}
      PLUGIN_VERSION:
        description: The version of the deployed plugin
        value: ${{ jobs.deploy_flex_plugin.outputs.PLUGIN_VERSION }}
      PLUGIN_VERSION_SID:
        description: The Sid of the created/existing Plugin Version.
        value: ${{ jobs.deploy_flex_plugin.outputs.PLUGIN_VERSION_SID }}

jobs:
  deploy_flex_plugin:
    runs-on: ubuntu-22.04
    env:
      PLUGIN_DIR: ${{ inputs.PLUGIN_DIRECTORY != '' && inputs.PLUGIN_DIRECTORY || '.' }}

    outputs:
      PLUGIN_NAME: ${{ steps.version.outputs.NAME }}
      PLUGIN_VERSION: ${{ steps.version.outputs.VERSION }}
      PLUGIN_VERSION_SID: ${{ steps.createPluginVersion.outputs.PLUGIN_VERSION_SID }}

    steps:
    - name: Resolve Input Paths
      run: |
        pluginDir="${{ env.PLUGIN_DIR }}"
        if [[ "$pluginDir" =~ \./.* ]]; then
          echo "PLUGIN_DIR=${pluginDir:2}" >> "$GITHUB_ENV"
        fi

    - name: Checkout ${{ github.repository }}/${{ inputs.PLUGIN_DIRECTORY }}/package.json@${{ github.ref_name }}
      uses: actions/checkout@v4
      with:
        path: main
        sparse-checkout: |
          ${{ env.PLUGIN_DIR }}/package.json
        sparse-checkout-cone-mode: false

    - name: Checkout zingdevlimited/actions-helpers@v3
      uses: actions/checkout@v4
      with:
        repository: zingdevlimited/actions-helpers
        path: helpers
        ref: v3

    - name: Get package.json version
      id: version
      working-directory: main/${{ env.PLUGIN_DIR }}
      run: |
        name=$(cat package.json | jq -r .name)
        version=$(cat package.json | jq -r .version)
        echo "NAME=$name" >> "$GITHUB_OUTPUT"

        if [ -z "${{ inputs.SELECT_VERSION }}" ]; then
          echo "VERSION=$version" >> "$GITHUB_OUTPUT"
        else
          echo "VERSION=${{ inputs.SELECT_VERSION }}" >> "$GITHUB_OUTPUT" 
        fi

    - name: Download Artifact from ${{ inputs.BUILD_WORKFLOW_NAME }}
      uses: dawidd6/action-download-artifact@246dbf436b23d7c49e21a7ab8204ca9ecd1fe615 # v2.28.0
      with:
        name: "${{ steps.version.outputs.NAME }}@${{ steps.version.outputs.VERSION }}"
        path: build
        workflow: ${{ inputs.BUILD_WORKFLOW_NAME }}
        workflow_conclusion: success

    - name: Deploy bundle to Plugin Service (${{ inputs.TWILIO_ACCOUNT_SID }})
      id: deployBundle
      uses: ./helpers/deploy-flex-plugin-asset
      with:
        FILE_PATH: "build/${{ steps.version.outputs.NAME }}.js"
        PLUGIN_NAME: ${{ steps.version.outputs.NAME }}
        PLUGIN_VERSION: ${{ steps.version.outputs.VERSION }}
        ALLOW_VERSION_OVERWRITE: "${{ inputs.ALLOW_VERSION_OVERWRITE }}"
        TWILIO_API_KEY: ${{ inputs.TWILIO_API_KEY }}
        TWILIO_API_SECRET: ${{ secrets.TWILIO_API_SECRET }}

    - name: Create Plugin Version ( ${{ inputs.TWILIO_ACCOUNT_SID }} )
      id: createPluginVersion
      uses: ./helpers/create-flex-plugin-version
      with:
        PLUGIN_NAME: ${{ steps.version.outputs.NAME }}
        PLUGIN_VERSION: ${{ steps.version.outputs.VERSION }}
        ASSET_URL: ${{ steps.deployBundle.outputs.ASSET_URL }}
        TWILIO_API_KEY: ${{ inputs.TWILIO_API_KEY }}
        TWILIO_API_SECRET: ${{ secrets.TWILIO_API_SECRET }}
